doctype html
html
    head
        title #{title}
        meta(charset='utf-8')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
            block header
                header.header
                    h1 #{title}
            block content