extends default

block content
    .ui.container
        .ui.three.column.doubling.stackable.masonry.grid
            each category in words
                .column
                    .ui.fluid.card
                        div.content
                            div.header #{category.name}
                        div.content
                            each word in category.words
                                p #{word}