extends default

block content
    div.container
        p Hello #{name}!
        each category in words
                h2 #{category.name}
                each word in category.words
                    p #{word}